.formStyle {
    display: flex;
    height: 100px;
}

.inputStyle {
    flex: 10;
    padding: 10px;
    font-size: 40px;
}

.btnStyle {
    flex: 1;
    border: none;
    padding: 8px, 20px;
    background: #555;
    color: #fff;
    cursor: pointer;
    font-size: 40px;
}

.btnStyle:hover {
    background: #666;
}