.appWrapper {
  display: flex;
  justify-content: center;
}

.container {
  width: 300px;
  margin-top: 60px;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px;
}