html, body, #root, .carousel {
  height: 100%;
  width: 100%;
  margin: 0;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100%;
  width: 100%;
}



